{% extends 'base.html' %}

{% block content %}

<h2>Парковочные места</h2>
<table class="table">
    <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          {% if manager %}
          <th scope="col">Изменить</th>
          <th scope="col">Удалить</th>
          {% endif %}
        </tr>
      </thead>
    <tbody>
    {% for Parkings in object_list %}
    <tr>
        <td><a href="{% url 'ParkingDetal' Parkings.pk %}">{{ Parkings.parkingName }}</a></td>
        <td>{{ Parkings.description }}</td>
            {% if manager %}
            <td><a href="{% url 'PlaceEdir' Parkings.pk %}" class="btn btn-primary">Изменить</a></td>
            <td><a href="{% url 'PlaceDelete' Parkings.pk %}" class="btn btn-danger">Удалить</a></td>
            {% endif %}

    </tr>
    {% endfor %}
    </tbody>
</table>
{% if manager %}
    <p><a href="{% url 'PlaceAdd' %}" class="btn btn-primary">Добавить</a></p>
{% endif %}




{% endblock %}

