{% extends 'base.html' %}

{% block content %}



<h2>Парковочное место - {{ object.parkingName }}</h2>
<p>Описание: {{ object.description }}</p>

<table class="table">
    <thead>
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">Название</th>
          <th scope="col">Дата начала аренды</th>
          <th scope="col">Дата конца аренды</th>
          {% if manager %}
          <th scope="col">Изменить</th>
          <th scope="col">Удалить</th>
          {% endif %}
        </tr>
      </thead>
    <tbody>
    {% for Parking in ParkingsTimeList %}
        <tr>
            <td>{{ Parking.user }}</td>
            <td>{{ Parking.parkingName }}</td>
            <td>{{ Parking.starDateTime }}</td>
            <td>{{ Parking.stopDateTime }}</td>

            {% if manager %}
                <td><a href="{% url 'timeEdir' Parking.pk %} " class="btn btn-primary">Изменить</a></td>
                <td><a href="{% url 'PlaceTimeDelete' Parking.pk %} " class="btn btn-danger">Удалить</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>


<h2>Забронировать</h2>
    {{ statusAdd }}
    <form action="{% url 'ParkingAdd' %}" method="post">{% csrf_token %}
  {{ parkingReservationForm.as_p }}       
      <button type="submit" class="btn btn-primary">Забранировать</button>
      
    </form>






{% endblock %}

{% block bot %}

{% endblock %}